@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    padding: 1rem;
    background: white url("/assets/bg.png") repeat center top;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

main {
    place-self: stretch;
    display: grid;
    place-items: stretch;
}

header {
    padding-bottom: 2rem;
}

#quote-container {
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    gap: 3rem;
}

#refresh-button {
    align-self: end;
}

#kanye-quote {
    background-color: #001F3F;
    color: white;
    align-self: start;
}

#kanye-site-link {
    place-self: center;
}

.sticker {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.sticker-img {
    background-image: url("../assets/kanye_logo.png");
    background-size: contain;
}


/* Neumorphic button */

#refresh-button {
    cursor: pointer;
    border: none;
    background: #F2F2F2;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-decoration: none;
    color: #0B0B0B;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    box-shadow: inset 0 0 15px rgba(66, 66, 66, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    &:hover {
        color: #1da1f2;
    }
    &:active {
        box-shadow: inset 7px 7px 15px rgba(66, 66, 66, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
        color: #676767;
    }
}


/* Fonts */

header {
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;
}

#kanye-quote {
    font-family: 'Karla', sans-serif;
    font-size: large;
}